<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">
	 com.mysql.jdbc.Driver
	 </property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qlhocphan</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Hao0971196883</property>
		<mapping resource="pojo/TaiKhoan.hbm.xml" />
		<mapping resource="pojo/SinhVien.hbm.xml" />
		<mapping resource="pojo/GiaoVu.hbm.xml" />
		<mapping resource="pojo/HocKi.hbm.xml" />
		<mapping resource="pojo/KyDKHP.hbm.xml" />
		<mapping resource="pojo/LopHoc.hbm.xml" />
		<mapping resource="pojo/Hoc.hbm.xml" />
		<mapping resource="pojo/MonHoc.hbm.xml" />
		<mapping resource="pojo/GiaoVien.hbm.xml" />
		<mapping resource="pojo/HocPhan.hbm.xml" />
		<mapping resource="pojo/DKHP.hbm.xml" />
	</session-factory>
</hibernate-configuration>